* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
}

main{
     height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 700px;

    display: grid;

    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 2.5fr 2.5fr 1fr 2fr;

    gap: 14px;
}


.box {
    border-radius: 15px;
}

.box1 {
    grid-column: span 2;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1737291620622-bafa836bc73e?q=80&w=1452&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.box2 {

    background-color: #05bda8;
    background-image: url(https://images.unsplash.com/photo-1765118441230-9348ed32865d?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.box3 {
    background-color: #ffd9e5;
    grid-row: span 2;
    
    background-image: url(https://images.unsplash.com/photo-1765118441230-9348ed32865d?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.box4 {
    
    background-color: #08b99f;
    background-image: url(https://images.unsplash.com/photo-1628474433835-f04755452260?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.box5 {
    grid-row: span 3;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1628474433835-f04755452260?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box6 {
    grid-row: span 2;

    background-color: #08b99f;
    background-image: url(https://images.unsplash.com/photo-1580133855110-5d24a6143cd6?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box7 {
    background-color: #ff2384;

    background-image: url(https://images.unsplash.com/photo-1714045048093-5ac1841f6239?q=80&w=1362&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}