* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

nav{
    height: 16%;
    display: flex;
    align-items: center;
    padding: 45px;
    gap: 70px;
}

nav .links a{
    color: black;
    margin-right: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
} 

nav .links a:hover{
    text-decoration: underline;
    text-decoration-line: underline;      
    text-decoration-color: rgb(0, 153, 255);            
    text-decoration-thickness: 4px;        
    text-decoration-style: solid;    
}

section{
    min-height: 100%;
    background-color: black;
    padding: 40px;
}

.feature{
    color: white;
    margin: 0 60px;
    font-size: 15px;
    font-weight: 600;
}

.feature .box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.feature .box div{
    height: 350px;
    width: 60%;
}

.feature .box1{
    display: flex;
    gap: 12px;
    margin-top: 14px;
}

.feature .box1 div{
    height: 350px;
    width: 40%;
}

.feature .box2{
    display: flex;
    gap: 12px;
    margin-top: 14px;
}

.feature .box2 div{
    height: 350px;
    width: 40%;
}

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.8;
}

.card h1 {
    position: absolute;
    bottom: 38px;
    left: 18px;
    color: white;
    font-size: 19px;
    z-index: 2;
    font-weight: 500;
}

.card p {
    position: absolute;
    bottom: 22px;
    left: 20px;
    font-size: 12px;
    color: white;
    z-index: 2;
    font-weight: 400;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.card:hover::after {
    background-color: rgba(0, 0, 0, 0.6);
}

.feature .sec2{
    margin-top: 90px;
}

.feature .sec2 h1{
    margin-bottom: 20px;
    font-size: 35px;
}
.feature .sec2 p{
    margin-bottom: 60px;
}

footer{
    height: 84%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

footer .footbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    height: 30%;
    width: 100%;
    background-color: rgba(63, 47, 47, 0.678);
    margin-top: 400px;
    margin-bottom: 20px;
}

.links2{
    margin-top: 20px;
}

.links2 a{
    margin-right: 40px;
    color: white;
    font-size: 14px;
    text-decoration: none;

}

.links2 a:hover{
    color: rgb(89, 89, 245);
}

.footbox .para{
    color: grey;
    font-size: 12px;
}

.contain{
    margin-right: 540px;
}

footer .head{
    color: white;
    text-align: center;
}

footer .head h1{
    font-size: 50px;
    margin-bottom: 30px;
}

footer .head h2{
    font-size: 20px;
}

footer .images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

footer .images img {
    height: 40px;
    width: 80px;
    margin-top: 35px;
    object-fit: contain;
}

